

.main{
  border-top: 5px solid rgb(67, 37, 82);
}

.navbar{
  color: rgb(32, 23, 36);
  height: 50px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  margin-bottom: 50px;
}
.navbar div{
  margin: 0 10px;
}
.logo{
  height: 80px;
  margin-top: -12px;
  
}
.bold{
  font-weight: 600;
}

.navbarMob{
  display: none;
}

@media (max-width: 767px){
  .navbar{
    display: none;
  }
  .navbarMob{
    color: rgb(32, 23, 36);
  height: 50px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  border-top: 5px solid rgb(67, 37, 82);
  }

  .logo{
    height: 60px;
    margin-top: -12px;
    
  }
  .flexrow{
    display: flex;
    flex-flow: row;
  }
  .navbarMob div{
    margin: 10px;
  }
}